body {
    font-family: Arial, sans-serif;
    background-image: url('/images/dashboard-background.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    box-shadow: inset 0px 0px 100px rgb(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1000; /* Ensures nav is above all other content */
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #006400; /* Dark green background */
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-left: 0.5rem;
}

nav a:hover {
    background-color: #8B0000; /* Dark red background */
    color: white;
}

.container {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #006400;
}

p {
    color: #555;
    font-size: 16px;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #8B0000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li form {
    display: inline;
}
